# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\REPOSITORIO JAVASCRIPT TO GITHUB\automate_message_whatsapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
